services:
  golfcoder-jvm:
    network_mode: host
    build:
      context: .
      dockerfile: docker/jvm.dockerfile
    healthcheck:
      test: [ "CMD", "/usr/bin/wget", "-q", "-O-", "http://localhost:8030/health" ]
      interval: 10s
      timeout: 3s
      retries: 3
      start_interval: 1s
      start_period: 5s

  golfcoder-node:
    build:
      context: .
      dockerfile: docker/node.dockerfile
    ports:
      - "8031:8031"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8031/health" ]
      interval: 10s
      timeout: 1s
      retries: 3
