body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #dad8cd;
    background-color: #0c171f;
    padding: 16px;
}

a {
    color: #fcdd2d;
    font-weight: bold;
    background-color: transparent;
    text-decoration: underline 0.1em rgba(255, 255, 255, 0);
    transition: color 0.15s ease-in-out, text-decoration-color 0.15s;
}

a:hover {
    text-decoration-color: rgba(255, 255, 255, 0.7);
    color: #fff;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

header {
    font-size: 20px;
}

header .header-text {
    font-weight: bold;
    float: left;
    margin-right: 32px;
}

header .header-logo {
    margin-right: 8px;
    margin-bottom: -2px;
}

.leaderboard {
    max-width: 800px;
    width: 100%;
    border-collapse: collapse;
}

.leaderboard tr {
    border-bottom: 1px solid #eeeeee21;
    padding: 12px;
    font-size: 15px;
    line-height: 2.5;
}

.leaderboard .rank {
    padding-left: 24px;
    font-weight: bold;
}

.leaderboard .username {
    max-width: 50vw;
    overflow-wrap: anywhere;
}

.leaderboard .left-align {
    text-align: left;
}

.leaderboard .right-align {
    text-align: right;
}